/*google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');


/*asterisk wildcard selector to overide default styles added by the browser*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

/*general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;

}


h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}


/* header */
header {
    background-color: #fff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}



#menu {
    letter-spacing: 4px;
    font-size: 110%;
    list-style-type: none;
}


#menu > li {
    margin-bottom: 1em;
}


.active {
    border-bottom: 1px solid #3a3a3a;
}


/*navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/*navbar toggle */
#nav-toggle:checked~nav{
    display: block;
}

#nav-toggle{
    display: none;
}


.nav-toggle-label{
    font-size: 2rem;
}


/*main*/
main {
    /* make main element take any surplus space to push the footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/*hero section*/
#hero{

    height: 1180px;
    width: 100%;
    background: url('../images/statue-liberty-3.jpg')no-repeat center center/cover;
}


#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(199, 208, 199, 0.2);
    font-size: 220%;
    position: absolute;
    width: 100%;
    bottom: 80px;
    min-height: 300px;
    padding-top: 30px;
    padding-left: 10px;
}


#cover-text > h2, #cover-text > h3 {
    color: rgb(16, 17, 16);
}



/*footer*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}


#social-networks i {
    font-size: 180%;
    padding: 5%;
    color: #3a3a3a;
}



/* media query: tablets and larger screens (768 and up) */
@media screen and (min-width: 768px) {
    /*header*/
    nav{
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0.05rem;
    }
    /* push main down to accommadate larger header */
    main {
        margin-top: 79px;
    }
    #cover-text > h2, #cover-text > h3 {
        color: black;
    }
}


/* larger devices (laptop and desktops, 992px and above) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
    /*hero section*/
#hero{
    
    height: 600px;
    width: 100%;
    background: url('../images/statue-liberty-3.jpg')no-repeat center center/cover;
}
}